page-register {

	ion-avatar > img {
    height: 150px; 
    width: 150px; 
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    margin: auto;
    margin-top: 2em;
  }
	
}
